
html {
  --surface-0: #AAA;
  --surface-1: #CCC;
  --surface-2: #DDD;
  --surface-3: #EEE;
  --surface-4: #FFF;
  
  --text-0: #000;
  --text-1: #222;

  color: var(--text-0);
}

html[data-theme='dark'] {
  --surface-0: #111111;
  --surface-1: #1E1E1E;
  --surface-2: #2D2D2D;
  --surface-3: #363636;
  --surface-4: #474747;
  
  --text-0: #E3E3E3;
  --text-1: #979797;

  color: var(--text-0);
}