:root {
	all:initial;


	font-family: Arial, Helvetica, sans-serif;


	--surface-0: #111111;
	--surface-1: #1E1E1E;
	--surface-2: #2D2D2D;
	--surface-3: #363636;
	--surface-4: #474747;

	--text-0: #E3E3E3;
	--text-1: #979797;

}

* {
	color:currentColor;
}


body {	
	background-color: var(--surface-0);
}

#root {
	display: flex;
	align-items: center;
	flex-direction: column;	
	color: var(--text-0);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	padding: 0.5rem;
	margin: 0.25rem;
	border-radius: 0.2rem;
	box-shadow: 1rem 1rem 1rem black;
	background-color: var(--surface-2);
	color: var(--text-0);
	border: 1px solid #fff5;
}

input[type="button"]{ 
	
}

input:focus {
	outline: none;
	background-color: var(--surface-4);
}
