.shop {
  display: flex;
  justify-content: space-around;
}

.itemList {
  display: flex;
}

.buildMenu {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 64px;
  width: 64px;
  border-radius: 8px;

  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid gray;
  cursor: pointer;
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover {
  transform:scale(1.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.item.selected {
  box-shadow: 0 0 1rem white;
  background-color: rgba(255, 255, 255, 0.5);
}

.minion {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;

  /* overflow: hidden; */
}

.minion > img {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}


.minion > .stats {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
}
.header > * {
  margin: 0rem 0.5rem;
}